.SelectionContainer {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: 15px;
}

.MySelection {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto minmax(71px,auto) 187.5px;
  grid-template-columns: 355px;
  position: sticky;
  top: 0;
}

.Selection {
  padding: 16px;
  grid-row: 1 / 2;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchDates {
  height: auto;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 10px;
  font-size: 14px;
  border: 1.25px solid #dddfe4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.RoomInfo {
  display: flex;
  flex-direction: row;
}

.RoomInfo:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RoomInfo:first-child * {
  margin-right: 3px;
}

.chooseRoom {
  grid-row: 3 / 5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  color: #31363f;
  border-bottom: 1.25px solid #dddfe4;
  border-right: 1.25px solid #dddfe4;
  border-left: 1.25px solid #dddfe4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chooseRoom span {
  font-size: 16px;
}

.chooseRoom ul {
  padding-left: 0;
}

.chooseRoom li {
  overflow-y: hidden;
  font-size: 12px;
  margin-bottom: 10px;
}

.changeSearch {
  color: #f25621;
  cursor: pointer;
  padding-top: 8px;
}

.paymentMethods {
  display: flex;
}

.visa {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-image: url('https://u.hwstatic.com/hw/pwa/payments-sprite.svg');
}

.mastercard {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('https://u.hwstatic.com/hw/pwa/payments-sprite.svg');
  background-repeat: no-repeat;
  background-position: -120px 0;
  margin-left: 5px;
}

.dateSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.searchGrid {
  color: #31363f;
  /* height: 100px; */
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto auto auto;
}

.locationInput {
  grid-row: 1 / 2;
  font-size: 0.75rem;
  color: #31363f;
  letter-spacing: 0.2px;
}

.fieldInner {
  display: grid;
  grid-template-columns: 2fr 8fr;
  border-radius: 4px;
  height: 100%;
  align-items: center;
  position: relative;
  color: #31363f;
  background-color: white;
}

.fieldInnerIcon {
  grid-column: 1 / 2;
  color: #f25621;
  padding-left: 3px;
}

.fieldInnerInput {
  grid-column: 2 / 3;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.checkDates {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.subSearch {
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;

}

.close {
  color: #f25621;
  cursor: pointer;
}

.selectedroom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}